*.jl.cov
*.jl.*.cov
*.jl.mem
[Dd]eps/
Plots/
*.DS_Store
.DS_Store
.vscode/

# Julia
Manifest.toml

# Documentation build
docs/build/
docs/Manifest.toml

# Development/prototype code
dev/
.ipynb_checkpoints/
