name: CI
on:
  push:
    branches:
      - main
    tags: ['*']
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.10'
        os:
          - ubuntu-latest
        arch:
          - x64
    steps:
      - uses: actions/checkout@v4

      - name: Install MPI
        run: |
          sudo apt-get update
          sudo apt-get install -y mpich libmpich-dev

      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}

      - uses: julia-actions/cache@v2

      - name: Configure MPI.jl to use system MPI
        run: |
          julia --project=. -e '
            using Pkg
            Pkg.add("MPIPreferences")
            using MPIPreferences
            MPIPreferences.use_system_binary()
          '

      - name: Build package
        uses: julia-actions/julia-buildpkg@v1

      - name: Run tests with coverage
        run: |
          julia --project=. -e '
            using Pkg
            Pkg.test(coverage=true)
          '

      - name: Process coverage
        uses: julia-actions/julia-processcoverage@v1

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false

  docs:
    name: Documentation
    runs-on: ubuntu-latest
    permissions:
      contents: write
      statuses: write
    steps:
      - uses: actions/checkout@v4

      - name: Install MPI
        run: |
          sudo apt-get update
          sudo apt-get install -y mpich libmpich-dev

      - uses: julia-actions/setup-julia@v2
        with:
          version: '1.10'

      - uses: julia-actions/cache@v2

      - name: Configure MPI.jl to use system MPI
        run: |
          julia --project=docs -e '
            using Pkg
            Pkg.develop(PackageSpec(path=pwd()))
            Pkg.instantiate()
            Pkg.add("MPIPreferences")
            using MPIPreferences
            MPIPreferences.use_system_binary()
          '

      - name: Build and deploy documentation
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
        run: julia --project=docs docs/make.jl
